<section>
	<template link="post-header"></template>
	<div class="row">
		<a href="/"><h4 class="text-center">Close</h4></a>
	</div>

	<!-- These are our archive sorting features -->
	<div>
		<select name="">
			<option value="5" selected>5</option>
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
			<option value="25">20</option>
			<option value="30">30</option>
		</select>
	</div>

<hr/>

	<list template="list.html" category="" limit="5"></list>
</section>